.button {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #151C22;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 200px;
  text-align: center;
  border: 2px solid #151C22;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  color: #151C22;
  background-color: white;
}
.section {
  margin-bottom: 108px;
}
.section__heading {
  margin-bottom: 70px;
}
.section__name {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
.section__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 0 5px;
  position: relative;
}
.section__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #151C22;
  bottom: -5px;
  left: 0;
}
.product--grid {
  grid-column: span 3;
  cursor: pointer;
}
.product--flex {
  -ms-flex-preferred-size: 243px;
      flex-basis: 243px;
  cursor: pointer;
}
.product--flex .product__price {
  margin-bottom: 60px;
}
.product__image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.product__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}
.product__price {
  font-weight: bold;
  line-height: 19px;
}
