.footer {
  background: #151C22;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.footer-nav {
  margin-top: 35px;
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.footer-nav__item:not(:last-of-type) {
  margin-right: 35px;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.footer-social__item:not(:last-of-type) {
  margin-right: 20px;
}
.footer-social__item a {
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-social__item--facebook {
  background-image: url(../img/facebook.svg);
}
.footer-social__item--instagram {
  background-image: url(../img/instagram.svg);
}
.footer-social__item--twitter {
  background-image: url(../img/twitter.svg);
}
.footer-social__item--pinterest {
  background-image: url(../img/pinterest.svg);
}
