* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #151C22;
  background: white;
}
button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
main {
  min-height: calc(100vh - 67px - 234px);
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.container--grid {
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-gap: 30px;
}
.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.button {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #151C22;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 200px;
  text-align: center;
  border: 2px solid #151C22;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button:hover {
  color: #151C22;
  background-color: white;
}
.section {
  margin-bottom: 108px;
}
.section__heading {
  margin-bottom: 70px;
}
.section__name {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
}
.section__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 0 5px;
  position: relative;
}
.section__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #151C22;
  bottom: -5px;
  left: 0;
}
.product--grid {
  grid-column: span 3;
  cursor: pointer;
}
.product--flex {
  -ms-flex-preferred-size: 243px;
      flex-basis: 243px;
  cursor: pointer;
}
.product--flex .product__price {
  margin-bottom: 60px;
}
.product__image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.product__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}
.product__price {
  font-weight: bold;
  line-height: 19px;
}
.header {
  height: 67px;
}
.header__logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}
.site-nav__item:not(:last-of-type) {
  margin-right: 35px;
}
.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.user-nav__item {
  background: transparent;
  cursor: pointer;
}
.user-nav__item:not(:last-of-type) {
  margin-right: 35px;
}
.footer {
  background: #151C22;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.footer-nav {
  margin-top: 35px;
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.footer-nav__item:not(:last-of-type) {
  margin-right: 35px;
}
.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.footer-social__item:not(:last-of-type) {
  margin-right: 20px;
}
.footer-social__item a {
  display: block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
.footer-social__item--facebook {
  background-image: url(../img/facebook.svg);
}
.footer-social__item--instagram {
  background-image: url(../img/instagram.svg);
}
.footer-social__item--twitter {
  background-image: url(../img/twitter.svg);
}
.footer-social__item--pinterest {
  background-image: url(../img/pinterest.svg);
}
.also-like {
  margin-bottom: 130px;
}
.product-details {
  margin-top: 55px;
  margin-bottom: 130px;
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #ffffff), color-stop(70%, #f1f2f4));
  background: linear-gradient(90deg, #ffffff 70%, #f1f2f4 70%);
}
.product-details__gallery {
  grid-column: 2 / 6;
  margin-left: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.product-details__gallery-photo--main {
  margin-bottom: 20px;
}
.product-details__gallery-photo--preview:not(:last-of-type) {
  margin-right: 20px;
}
.product-details__gallery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-details__gallery::before,
.product-details__gallery::after {
  position: absolute;
  display: block;
  content: "";
  height: 23px;
  width: 12px;
  top: 30%;
  cursor: pointer;
  background: url("../img/icon-right-arrow.svg") center no-repeat;
}
.product-details__gallery::before {
  left: -70px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.product-details__gallery::after {
  right: -70px;
}
.product-details__text {
  background-color: #F1F2F4;
  grid-column: 7 / -2;
  padding: 70px 0 70px 70px;
}
.product-details__name {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 40px;
}
.product-details__description {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 50px;
}
.product-details__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 50px;
}
.option-picker {
  margin-bottom: 40px;
}
.option-picker__heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 25px;
}
.option-picker__values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.option-picker__values input {
  display: none;
}
.option-picker__values label {
  cursor: pointer;
}
.option-picker__values label:last-of-type {
  margin-right: 0;
}
.option-picker__values--color label {
  margin-right: 30px;
}
.option-picker__values input[name="color"] + label {
  display: block;
  width: 19px;
  height: 19px;
  border-radius: 50%;
}
.option-picker__values input[value="color-lightgrey"] + label {
  background: #B0C3C7;
}
.option-picker__values input[value="color-lightgrey"]:checked + label {
  -webkit-box-shadow: 0 0 0 3px #F1F2F4, 
							0 0 0 6px #B0C3C7;
          box-shadow: 0 0 0 3px #F1F2F4, 
							0 0 0 6px #B0C3C7;
}
.option-picker__values input[value="color-darkblue"] + label {
  background: #3B6392;
}
.option-picker__values input[value="color-darkblue"]:checked + label {
  -webkit-box-shadow: 0 0 0 3px #F1F2F4, 
							0 0 0 6px #3B6392;
          box-shadow: 0 0 0 3px #F1F2F4, 
							0 0 0 6px #3B6392;
}
.option-picker__values input[value="color-darkgrey"] + label {
  background: #BFC3C8;
}
.option-picker__values input[value="color-darkgrey"]:checked + label {
  -webkit-box-shadow: 0 0 0 3px #F1F2F4, 
							0 0 0 6px #BFC3C8;
          box-shadow: 0 0 0 3px #F1F2F4, 
							0 0 0 6px #BFC3C8;
}
.option-picker__values--size label {
  margin-right: 20px;
  color: #727A82;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.option-picker__values input[name="size"]:checked + label {
  color: #151C22;
}
