  <footer class="footer">
    <div class="container">
      <a href="index.html" class="footer-logo">
        <img src="img/Nîmes-footer.svg" width="75" height="17"></img>
      </a>
      <ul class="footer-nav">
        <li class="footer-nav__item"><a href="../catalog.html">Shop</a></li>
        <li class="footer-nav__item"><a href="javascript:void">Delivery</a></li>
        <li class="footer-nav__item"><a href="javascript:void">Service</a></li>
        <li class="footer-nav__item"><a href="javascript:void">Sitemap</a></li>
        <li class="footer-nav__item"><a href="javascript:void">Contacts</a></li>
      </ul>
      <ul class="footer-social">
        <li class="footer-social__item"><a href="javascript:void" class="footer-social__item--facebook"></a></li>
        <li class="footer-social__item"><a href="javascript:void" class="footer-social__item--pinterest"></a></li>
        <li class="footer-social__item"><a href="javascript:void" class="footer-social__item--instagram"></a></li>
        <li class="footer-social__item"><a href="javascript:void" class="footer-social__item--twitter"></a></li>
      </ul>
    </div>
  </footer>