  <header class="header">
    <div class="container container--flex">
      <ul class="site-nav">
        <li class="site-nav__item"><a href="../catalog.html">Woman</a></li>
        <li class="site-nav__item"><a href="../catalog.html">Man</a></li>
        <li class="site-nav__item"><a href="../catalog.html">New</a></li>
      </ul>
      <a href="index.html" class="header__logo">
        <img src="img/Nîmes.svg" alt="nimes" width="75" height="17">
      </a>
      <nav class="user-nav">
        <button class="user-nav__item">
          <img src="img/icon-search.svg" alt="search">
        </button>
        <button class="user-nav__item">
          <img src="img/icon-cart.svg" alt="cart">
        </button>
      </nav>
    </div>
  </header>