* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #030A23;
  background-color: #FDFDFF;
}
button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  outline: none;
  border: none;
}
.container {
  margin: 0 auto;
  max-width: 1110px;
}
.container--grid {
  display: grid;
  grid-template-columns: repeat(12, 5.85585585%);
  grid-column-gap: 30px;
}
.container--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section {
  padding-top: 30px;
  padding-bottom: 50px;
}
.section-message {
  background-color: white;
}
.section-heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 10px;
}
.section-lead {
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 40px;
}
.button {
  background: #2D54E2;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  padding: 14px 37px;
}
