<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Питомник Мейн-Кунов в Новосибирске. Первый питомник с расширенным спектром услуг">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Питомник Мейн Кунов</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Yeseva+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header class="header bg-header">
    <div class="container">
      <div class="crown"></div>
      <div class="about">
        <p class="about-city">
          Новосибирск
        </p>
        <h1>
          Питомник Мейн-Кунов
        </h1>
        <p class="about-moto">
          Первый питомник с расширенным спектром услуг
        </p>
        <a href="#" class="button">Смотреть котиков</a>
      </div>
      <div class="social-links">
        <a href="#" class="vk vk-white"></a>
        <a href="#" class="tw tw-white"></a>
        <a href="#" class="fb fb-white  "></a>
      </div>
    </div>
  </header>

  <main>
    <section class="section pets bg-lightblack">
      <div class="section-heading">
        <h2>
          Питомцы
        </h2>
        <p>
          Все представители нашего питомника имеют ветеринарный паспорт с отметками о прививках и документ с родословной
        </p>
      </div>
      <nav class="pets-menu">
        <ul class="list">
          <li class="active">Коты</li>
          <li>Кошки</li>
          <li>Котята</li>
        </ul>
      </nav>
      <div class="pets-photo container">
        <div class="top-left">
          <img src="img/cat-gallery-top-left.png" alt="">
        </div>  
        <div class="bottom-left">
          <img src="img/cat-gallery-bottom-left.png" alt="">
        </div>  
        <div class="right">
          <img src="img/cat-gallery-right.png" alt="">
        </div>  
      </div>
      <div class="pets-more">
        <a href="#" class="button pets-more">Смотреть больше</a>
      </div>
    </section>

    <section class="section features bg-lightblack">
      <div class="container">
        <div class="section-heading">
          <h2>
            Особенности породы
          </h2>
          <p>
            Мейн-Кун - это порода, которая вызывает к себе уважение. Приобретая в свой дом этого питомца, вы получите умное животное, которому нет равных 
          </p>
        </div>
        <div class="features-list">
          <ul class="list">
            <li class="top left">Легко уживается в семьях с детьми или другими животными</li>
            <li class="bottom left">Внешний вид этой кошки похож на дикую рысь</li>
            <li class="top right">Выполняет команды как дрессированная собака</li>
            <li class="bottom right">Вес может достигать 12 кг, а длина 1 м</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section why-we bg-black">
      <div class="section-heading">
        <h2>
          Почему именно мы?
        </h2>
        <p>
          Приобретая  животное в нашем питомнике, вы получите
        </p>
      </div>
      <div class="why-we-reasons">
        <ul class="list container">
          <li class="vet">
            <p>
              Бесплатное ветеринарное обслуживание 5 лет
            </p>
          </li>
          <li class="consulting">
            <p>
              Консультирование по любому вопросу 24 часа в сутки
            </p>
          </li>
          <li class="feed">
            <p>
              Индивидуальный подбор питания для вашего кота
            </p>
          </li>
        </ul>
      </div>
    </section>

    <section class="section care bg-lightblack">
      <div class="section-heading">
        <h2>
          Об уходе за Мейн-Куном
        </h2>
      </div>
      <div class="care-advice">
        <ul class="list container">
          <li>
            <h3>Шерсть</h3>
            <p>Мы разработали 8 правил, следуя которым, шерсть вашего кота всегда будет блестящей, мягкой и послушной</p>
          </li>
          <li>
            <h3>Уши и глаза</h3>
            <p>Владельцам котов необходимо регулярно осматривать ушки и глаза своих питомцев, ведь это может быть признаками заболевания</p>
          </li>
          <li>
            <h3>Когти</h3>
            <p>Нужно ли стричь когти? Это мы и выясним, плюс ко всему расскажем как подобрать идеальную когтеточку</p>
          </li>
           <li>
            <h3>Питание</h3>
            <p>В нашем питомнике существует два подхода: натуральное питание и питание промышленными кормами, но выбирать только вам</p>
          </li>
        </ul>
      </div>
    </section>

    <section class="section team bg-black">
        <div class="section-heading">
          <h2>
            Наша команда
          </h2>
          <p>
            Все сотрудники нашего питомника  дипломированые специалисты в области фелинологии и ветеринарии
          </p>
        </div>
        <div class="team-slider container">
          <div class="team-slider-slide">
            <div class="team-photo">
              <img src="img/team-photo.jpg" alt="">
            </div>
            <div class="team-text">
              <p class="team-text-name">
                Серёжа Попов
              </p>
              <p class="team-text-position">
                Основатель питомника
              </p>
              <p class="team-text-quote">
                Наш питомник занимается разведением Мейн-Кунов 
                на протяжении 15 лет. Мы в ответе за каждого
                приобретенного вами питомца
              </p>
              <div class="social-links">
                <a href="#" class="fb fb-white"></a>
                <a href="#" class="tw tw-white"></a>
                <a href="#" class="vk vk-white"></a>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="section faq bg-lightblack">
      <div class="section-heading">
        <h2>
          Вопрос-Ответ
        </h2>
        <p>
          Мы ответим на самые популярные ваши вопросы
        </p>
      </div>
      <div class="faq-questions container">
        <ul class="list">
          <li>
            <p class="question question-active">
              С какого возраста можно забирать котенка из питомника?
            </p>
            <div class="answer answer-active">
              <p>Есть важная причина, почему котенка стоит забирать домой только после трех месяцев, — это вакцинация. Первые прививки животному делают в возрасте 8 недель. Ревакцинация проводится через 3–4 недели. То есть котенок, покидающий дом позднее 12 недель, максимально защищен от различных вирусов и инфекций.</p>
              <p>Так что, чтобы в дома появился психически и физически здоровый котенок, игривый, жизнерадостный, самостоятельный и воспитанный, не спешите забирать его от кошки-мамы раньше трех месяцев.</p>
            </div>
          </li>
          <li>
            <p class="question">Как зарезервировать котенка?</p>
          </li>
          <li>
            <p class="question">Можно ли купить кота, если я живу в другом городе?</p>
          </li>
          <li>
            <p class="question">Как подготовить дом к приему нового питомца? </p>
          </li>
        </ul>
      </div>
    </section>
    <section class="section reviews bg-lightblack">
      <div class="section-heading">
        <h2>
          Отзывы
        </h2>
      </div>
      <div class="reviews-slider container">
        <div class="reviews-slider-slide">
          <div class="review-photo">
            <img src="img/feedback-photo.jpg" alt="">
          </div>
          <div class="review-text">
            <p class="review-text-author">Василиса Лазарева</p>
            <p class="review-text-content">Я выражаю огромную благодарность
вашему питомнику.  Мой Феликс невероятно 
умен и воспитан. Огромным плюсом питомника
 является возможность консультироваться в любое время</p>
            <div class="review-text-other">
              <p class="date">24 мая 2018</p>
              <div class="social-links">
                <a href="#" class="tw tw-gold"></a>
                <a href="#" class="vk vk-gold"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer bg-black">
    <div class="container">
      <div class="flex">
        <div class="crown"></div>
        <div class="social-links">
          <a href="#" class="fb fb-gold"></a>
          <a href="#" class="tw tw-gold"></a>
          <a href="#" class="vk vk-gold"></a>
        </div>
        <div class="address">
          Новосибирск, Пушкинский проспект, 19
        </div>
        <div class="phone">
          <a tel="+7 (383) 900-64-65">+7 (383) 900-64-65</a>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
