.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-close {
  position: absolute;
  font-size: 6rem;
  top: 1.3rem;
  right: -5rem;
  line-height: 0;
  color: rgba(255, 255, 255, 0.75);
  font-weight: semi-bold;
  cursor: pointer;
}
.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20vw;
}
.popup-content textarea {
  height: 100%;
}
.popup button {
  height: 7rem;
}
