<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--   <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->  
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <form action="#" class="search">
        <input type="text" placeholder="Поиск...">
      </form>
      <div class="avatar">
        <p><a href="#">о</a></p>
      </div>
      <div class="name">
        <a href="#">Опознанный Енот</a>
      </div>
      <div class="notifications">
        <div class="number">
          <span>1</span>
        </div>
      </div>
    </header>
    <nav class="menu">
      <div class="logo">
        <img src="img/logo.jpg" alt="" width="162" height="36">
      </div>
      <ul class="items">
        <li class="item active cabinet"><a href="#">Кабинет ученика</a></li>
        <li class="item class"><a href="#">Учебный класс</a></li>
        <li class="item manual"><a href="#">Методичка</a></li>
        <li class="item homework"><a href="#">Домашняя работа</a></li>
        <li class="item exams"><a href="#">Экзамены</a></li>
      </ul>
      <div class="settings"><a href="#">Настройки</a></div>
    </nav>
    <main class="main-content">
      <div class="slider">
        <div class="slide">
          <img src="img/image-01.jpg" alt="" width="820" height="300">
          <div class="text">
            <p class="heading">«Бифитер», «Кокни», «Даблдекер»...</p>
            <p class="subheading">
              Пройдите тест и узнайте насколько хорошо вы знакомы<br>с жизнью в Лондоне
            </p>
            <a>
              Пройти тест ➞
            </a>
          </div>
        </div>
      </div>
      <div class="news">
        <article class="news-article">
          <div class="heading">
            Английский завтрак
          </div>
          <div class="subheading">
            Разговорный клуб
          </div>
          <div class="time">
            10:00 — 11:00 (ПН—ПТ)
          </div>
          <a href="#" class="action">Записаться ➞</a>
        </article>
        <article class="news-article">
          <div class="heading">
            Лето в Лондоне
          </div>
          <div class="subheading">
            Месяц экскурсий и практики
          </div>
          <div class="time">
            10 июня — 3 июля
          </div>
          <a href="#" class="action">Отправиться ➞</a>
        </article>
        <article class="news-article">
          <div class="heading">
            Надоел английский?
          </div>
          <div class="subheading">
            С нами можно выучить и другие языки
          </div>
          <div class="time">     
          </div>
          <a href="#" class="action">Открыть список ➞</a>
        </article>
      </div>
      <div class="video">
        <video src="" poster="img/video-poster.png" width="540"
        height="300"></video>
      </div>
      <div class="audio">
        <p class="heading">
          Курс English A1
        </p>
        <ul>
          <li class="lesson">
            <div class="theme">
              <p>
                <b>Урок 8</b><br>
                Времена глаголов
              </p>
            </div>  
          </li>    
          <li class="lesson active">
            <div class="theme">
              <p>
                <b>Урок 9</b><br>
                Неправильные глаголы
              </p>
            </div>  
          </li> 
          <li class="lesson inactive">
            <div class="theme">
              <p>
                <b>Урок 10</b><br>
                Present Simple
              </p>
            </div>  
          </li> 
          <li class="lesson inactive">
            <div class="theme">
              <p>
                <b>Урок 11</b><br>
                Past Simple
              </p>
            </div>  
          </li> 
          <li class="lesson inactive">
            <div class="theme">
              <p>
                <b>Урок 12</b><br>
                Future Simple
              </p>
            </div>  
          </li>      
        </ul>
      </div>
      <div class="contacts">
         <p class="heading">
          Контакты
        </p>
        <ul>
          <li class="contact online">
            <p class="letter">Н</p>
            <p class="info">
              <span class="name">Неопознанный Енот</span><br>
              <span class="language">English A1</span>
            </p>
          </li>
          <li class="contact online">
            <p class="letter">Н</p>
            <p class="info">
              <span class="name">Неопознанный Енот 2</span><br>
              <span class="language">Español 2</span>
            </p>
          </li>
          <li class="contact online">
            <p class="letter">Н</p>
            <p class="info">
              <span class="name">Неопознанный Енот 3</span><br>
              <span class="language">日本語</span>
            </p>
          </li>
          <li class="contact online">
            <p class="letter">Н</p>
            <p class="info">
              <span class="name">Неопознанный Енот 5</span><br>
              <span class="language">Le Français</span>
            </p>
          </li>
          <li class="contact">
            <p class="letter">Н</p>
            <p class="info">
              <span class="name">Неопознанный Енот 6</span><br>
              <span class="language">Español 1</span>
            </p>
          </li>
          <li class="contact">
            <p class="letter">Н</p>
            <p class="info">
              <span class="name">Неопознанный Енот 7</span><br>
              <span class="language">Italiano</span>
            </p>
          </li>
        </ul>
      </div>
    </main>
    <footer class="footer">
     <div class="copyright"><p>© 2020</p></div>
     <div class="name"><p><b>Let’s Speak,</b> языковая школа</p></div>
     <div class="developer"><p>Сайт создан в HTML Academy</p></div>
    </footer>
  </div>   
  <script type="text/javascript" src="main.js"></script> 
</body>
</html>