* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F1F3FE;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  color: #3C425F;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  height: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
   "menu header header"
   "menu main main"
   "footer footer footer" ;
  grid-template-columns: 280px 1fr 290px;
  grid-template-rows: 80px 1fr 60px;
}

.container > * {
  background-color: white;
}

.header {
  grid-area: header;
  border-bottom: 1px solid #B4BEF0;
  display: grid;
  grid-template-columns: 1fr 64px auto 78px;  
}

.header .search {
  position: relative;
}

.header .search::before {
  content: "";
  display: block;
  position: absolute;
  width: 23px;
  height: 23px;
  background: url(img/search.png) center no-repeat;
  top: 28px;
  left: 30px;
}

.header .search input {
  outline: none;
  border: none;
  display: block;
  font-weight: 500;
  color: #3C425F;
  padding: 30px 20px 30px 62px;
  width: 100%;
}

.header .search input::placeholder {
  color: #B4BEF0;
}

.avatar p {
  width: 40px;
  height: 40px;
  background-color: #F1F3FE;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
  border-radius: 100%;
  margin-top: 20px; 
  text-align: center;
}

.avatar p a {
  position: relative;
  top: 7px;
  left: 1px;
  text-decoration: none;
  color: #B4BEF0;
}

.name a {
  text-decoration: none;
  color: inherit; 
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 62px;
  position: relative;
}

.name a::after {
  content: '';
  width: 12px;
  height: 6px;
  display: block;
  background: url(img/triangle.svg) no-repeat;
  position: absolute;
  top: 37px; 
  left: 152px;
}

.number {
  background: url(img/bell.svg) no-repeat;
  background-position: center center;
  height: 100%;
  position: relative;
}

.notifications::before {
  content: '';
  position: absolute;
  display: block;
  background-color: #E4E8FC;
  width: 1px;
  height: 40px;
  top: 20px;
}

.number span {
  font-weight: 900;
  font-size: 10px;
  color: white;
  background-color: #FF8F0B;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
  display: block;
  text-align: center;
  position: absolute;
  top: 23px;
  right: 25px;  
}

.menu {
  grid-area: menu; 
  border-right: 1px solid #B4BEF0;
  display: grid;
  grid-template-rows: 80px 1fr 60px;
}

.menu .logo img {
  display: block;
  margin: auto;
  margin-top: 24px;
}

.menu .items {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu .item, 
.menu .settings {
  position: relative;
}

.menu .item::before, 
.menu .settings::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 30px;
  z-index: 10;
}

.menu .item.cabinet::before {
  background: url(img/Union.svg) center no-repeat;
}

.menu .item.class::before {
  background: url(img/Union-1.svg) center no-repeat;
}

.menu .item.manual::before {
  background: url(img/Union-2.svg) center no-repeat;
}

.menu .item.homework::before {
  background: url(img/Subtract.svg) center no-repeat;
}

.menu .item.exams::before {
  background: url(img/Union-3.svg) center no-repeat;
}

.menu .settings::before {
  background: url(img/settings.svg) center no-repeat;
}

.menu a {
  text-decoration: none;
  color: inherit;
  color: #3C425F;
  display: block;
  padding: 21px 0 20px 63px;
}

.menu .active a {
  font-weight: 500;
  color: #576BCC;
  background-color: #F1F3FE;
  position: relative;
}

.menu .active a::before {
  content: "";
  display: block;
  width: 6px;
  height: 60px;
  position: absolute;
  background-color: #576BCC;
  top: 0;
  left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.menu a:hover {
  cursor: pointer;
}

.main-content {
  background-color: #F1F3FE;
  grid-area: main;
  margin: 25px 30px;
  display: grid;
  grid-template-areas: 
    'slider slider contacts'
    'news news contacts'
    'video audio contacts';
  grid-gap: 20px;
  grid-template-rows: 300px 1fr 300px;
  grid-template-columns: 540px 1fr 260px;
}

.main-content > * {
  background-color: white;
  border-radius: 4px;
}

.footer {
  grid-area: footer;
  background-color: #3C425F;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
} 

.footer p {
  margin: 0;
  color: white;
  opacity: 0.5;
}

.footer .name {
  text-align: center;
}

.footer .name b {
  font-weight: 500;
}

.footer .developer {
  text-align: right;
}

.slider {
  grid-area: slider;
  
}

.slider .slide {
  position: relative;
  color: white;
}

.slider .slide::before, 
.slider .slide::after {
  position: absolute;
  display: block;
  content: "";
  height: 64px;
  width: 32px;
  background-color: white;
  background-image: url(img/arrow.png);
  background-repeat: no-repeat;
  background-position: 6px 50%;
  border-top-right-radius: 64px;
  border-bottom-right-radius: 64px;
  top: 118px;
  cursor: pointer;
} 

.slider .slide::after {
  transform: rotate(180deg);
  right: 0;
}

.slider .slide .text {
  position: absolute;
  top: 65px;
  left: 60px;
}

.slider .slide .text .heading {
  margin-top: 0;
  font-size: 28px;
  line-height: 48px;
  font-weight: 900;
  margin-bottom: 10px;
}

.slider .slide .text .subheading {
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 24px;
  margin-top: 0;
}

.slider .slide a {
  display: block;
  background-color: #FF8F0B;
  border-radius: 4px;
  width: 167px;
  height: 42px;
  font-weight: 500;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
} 

.news {
  background-color: #F1F3FE;
  grid-area: news;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.news-article {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 4px rgba(60, 66, 95, 0.2);
  padding: 20px 30px;
  position: relative;
}

.news-article .heading {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}

.news-article .subheading {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}

.news-article .time {
  color: #0BC4CF;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
}

.news-article .action {
  font-weight: 500;
  color: #576BCC;
  text-decoration: none; 
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.video {
  grid-area: video;
  position: relative;
}

.video::after {
  position: absolute;
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  background: url(img/play.svg) center no-repeat;
  left: 238px;
  top: 118px;
  cursor: pointer;
}

.audio {
  grid-area: audio;
  padding: 20px 0;
  overflow-y: hidden;
  box-shadow: 0px 1px 4px rgba(60, 66, 95, 0.2);
  border-radius: 4px;
}

.audio .heading {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #E4E8FC;
  margin-left: 30px;
}

.audio ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.audio ul::after {
  position: absolute;
  content: "";
  width: 260px;
  height: 40px;
  display: block;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.52%);
  bottom: 8px;
  left: 0;
  z-index: 100;
}

.audio ul li:first-child {
  margin-top: 12px;
}

.audio .lesson {
  height: 48px;
  padding-left: 74px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
} 

.audio .lesson .theme {
  font-size: 14px;
  line-height: 16px;
  position: relative;
}

.audio .lesson .theme::before {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  left: -44px; 
  background: url(img/lesson.svg) center no-repeat;
}

.audio .lesson.active .theme::before {
  background: url(img/lesson-active.svg) center no-repeat;
}

.audio .lesson.inactive .theme::before {
  background: url(img/lesson-inactive.svg) center no-repeat;
}

.audio .lesson .theme p {
  margin: 0;
}

.audio .lesson .theme b {
  font-weight: 900;
}

.audio .lesson.active {
  background-color: #F1F3FE;
  position: relative;
}

.audio .lesson.active::before {
  content: "";
  display: block;
  width: 6px;
  height: 48px;
  position: absolute;
  background-color: #576BCC;
  top: 0;
  left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.audio .lesson.inactive .theme p {
  opacity: 0.3;
}

.contacts {
  grid-area: contacts;
  padding-top: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 1px 4px rgba(60, 66, 95, 0.2);
  border-radius: 4px;
}

.contacts .heading {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 1px solid #E4E8FC;
  margin-left: 28px;
  margin-top: 0;
}

.contacts ul {
  list-style-type: none;
  padding-left: 28px;
  margin-top: 20px;
}

.contacts .contact {
  height: 40px;
  margin-top: 16px;
  display: grid;
  grid-template-columns: 40px 1fr;
  cursor: pointer;
}

.contacts p {
  margin: 0;
}

.contacts .contact .info {
  margin-left: 12px;
  font-size: 14px;
  line-height: 20px;
}

.contacts .contact .letter {
  font-size: 22px;
  text-align: center;
  font-weight: 900;
  color: #B4BEF0;
  background-color: #F1F3FE;
  border-radius: 50%; 
  padding-top: 7px;
  position: relative;
}

.contacts .contact .language {
  opacity: 0.5;
}

.contacts .contact.online::before {
  position: absolute;
  content: "";
  display: block;
  background-color: #0BC4CF;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid white; 
  z-index: 10;
}

