// Variables
@font-heading: 'Yeseva One', cursive;
@font-text: 'Roboto', sans-serif;

@color-white: white;
@color-gold: #A07B50;
@color-bg-header: #181617;
@color-bg-black: #151313;
@color-bg-lightblack: #1F1C1D;

* {
  box-sizing: border-box;
}

// Basic styles
body {
	font-family: @font-text;
	font-weight: 400;
	color: @color-white;
	font-size: 16px;
}

.container {
	max-width: 1160px;
	display: grid;
	grid-template-columns: repeat(12, 5.1724137931%);
	grid-column-gap: 3.44827586206%;
	margin: auto;
}

.bg {
	&-header {
		background-color: @color-bg-header;
	}
	&-black {
		background-color: @color-bg-black;
	}
	&-lightblack {
		background-color: @color-bg-lightblack;
	}
}

.section {
	&-heading {
		margin: 0 auto;
		text-align: center;
		h2 {
			padding-top: 85px;
			margin-top: 0;
			margin-bottom: 25px;
			font-family: @font-heading;
			font-size: 36px;
			font-weight: 400;
		}
		p {
			font-weight: 300;
			color: @color-gold;
			margin-bottom: 35px;
			line-height: 26px;
		}
	}
}

.button {
	background-color: transparent;
	font-weight: 700;
	font-size: 400;
	border: 0.5px solid @color-gold;
	padding: 18px 40px;
	color: @color-white;
	text-decoration: none;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.crown {
	width: 47px;
	height: 22px;
	background-image: url("../img/crown.svg");
	margin: auto;
}

.social-links {
	display: flex;
	height: 15px;
	width: 65px;
	justify-content: space-between;
	a {
		display: block;
		height: 100%;
		&.fb {
			width: 7px;
			&-white {
				background: url(../img/fb-white.svg) center no-repeat;
			}
      &-gold {
        background: url(../img/fb-gold.svg) center no-repeat;
      }
		}
		&.tw {
			width: 21px;
			&-white {
				background: url(../img/tw-white.svg) center no-repeat;
			}
      &-gold {
        background: url(../img/tw-gold.svg) center no-repeat;
      }
		}
		&.vk {
			width: 21px;
			&-white {
				background: url(../img/vk-white.svg) center no-repeat;
			}
      &-gold {
        background: url(../img/vk-gold.svg) center no-repeat;
      }
		}
	}
}


// Header
.header {
	height: 684px;
	background: no-repeat bottom right @color-bg-header url(../img/header-cat.png);
	position: relative;
  .container {
		grid-template-rows: 72px 1fr;
    position: relative;
    height: 100%;
	}
	.crown {
		grid-row: 1 ~"/" 2;
		grid-column: 1 ~"/" span 12;
		margin-top: 50px;
	}
	.about {
		grid-row: 2 ~"/" 3;
		grid-column: 2 ~"/" span 4;
		margin-top: 115px;
		&-city {
			color: @color-gold;
			margin-top: 0;
			margin-bottom: 20px;
		}
		h1 {
			font-family: @font-heading;
			font-size: 52px;
			line-height: 60px;
			font-weight: 400;
			margin-bottom: 30px;
		}
		&-moto {
			color: @color-gold;
			line-height: 24px;
			margin-bottom: 70px;
		}
	}
  .social-links {
    flex-direction: column;
    align-items: center;
    height: 60px;
    position: absolute;
    bottom: 65px;
    left: -45px;
    a {
      background-size: cover;
      &:first-child {
        position: reletive;
        &::before {
          position: absolute;
          display: block;
          content: "";
          width: 1px;
          height: 78px;
          background-color: white;
          opacity: 0.61;
          top: -108px;
          left: 50%;
        }
      }
    }
    .vk {
      width: 13px;
      height: 8px;
    }
    .tw {
      width: 15px;
      height: 10px;
    }
    .fb {
      width: 5px;
      height: 11px;
    }
  }
}

// Pets
.pets {
	padding-top: 223px;
	.section-heading {
		h2 {
			padding-top: 0;
		}
		p {
			margin-bottom: 40px;	
		}
		max-width: 520px;
	}
	&-menu {
		.list {			
			margin: auto;
			display: flex;
			justify-content: space-between;
			width: 250px;
			margin-bottom: 45px;
			li {
				font-weight: 500;
				font-size: 18px;
				line-height: 21px;
				opacity: 0.2;
				&:hover {
					cursor: pointer;
					opacity: 0.5;
				}
				&.active {
					opacity: 1;
				}
			}
		}
	}
	&-photo {
		grid-template-areas: 
			"topleft right"
			"bottomleft right";
		grid-template-rows: 214px 241px;
		grid-row-gap: 30px;
		margin-bottom: 73px;
    img {
      width: 100%;
      height: 100%;
    }
		.top-left {
			grid-area: topleft;
			grid-column: 2 ~"/" 7;

		}
		.bottom-left {
			grid-area: bottomleft;
			grid-column: 2 ~"/" 7;
      overflow: hidden;
		}
		.right {
			grid-area: right;
			grid-column: 7 ~"/" 12;
      overflow: hidden;
		}
	}
	&-more {
		text-align: center;
	}
}

// Features
.features {
	.container {
		grid-template-rows: auto auto;
	}
	.section-heading {
		grid-column: 3 ~"/" span 8;
		grid-row: 1 ~"/" 2;
		padding-top: 40px;
		p {
			margin-bottom: 0;
		}
	}
	&-list {
		grid-column: 1 ~"/" 13;
		grid-row: 2 ~"/" 3; 
		background-image: url(../img/cat-features.png);
		background-position: center;
		background-repeat: no-repeat;
		min-height: 800px;
		position: relative;
		li {
			font-weight: 300;
			font-size: 14px;
			line-height: 21.49px;
			max-width: 250px;
			position: absolute;
			&.left {
				text-align: right;
				&.top {
					top: 220px;
					left: 30px;
				}
				&.bottom {
					bottom: 255px;
					left: 10px;
				}
			}
			&.right {
				text-align: left;
				&.top {
					top: 325px;
					right: 15px;
				}
				&.bottom {
					bottom: 210px;
					right: 50px;
				}
			}
		}
	}
}

.why-we {
	padding-bottom: 100px;
	&-reasons {
		.list {	
			margin: 0 auto; 
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: 300px;
			li {
				background-color: @color-bg-lightblack;
				border: 20px solid @color-bg-lightblack;
				border-top-width: 17px;
				border-bottom-width: 17px;
				position: relative;
				padding: 45px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				&:hover {
					background-color: @color-gold;
					cursor: pointer;
				}
				&::before {
					display: block;
					content: "";
					width: 110px;
					height: 110px;
					background-position: center;
					background-repeat: no-repeat;
				}
				&.vet::before {
					background-image: url(../img/reason-vet.svg);
				}
				&.vet:hover::before {
					background-image: url(../img/reason-vet-hover.svg);
				}
				&.consulting::before {
					background-image: url(../img/reason-consulting.svg); 
				}
				&.consulting:hover::before {
					background-image: url(../img/reason-consulting-hover.svg); 
				}
				&.feed::before {
					background-image: url(../img/reason-feed.svg);
				}
				&.feed:hover::before {
					background-image: url(../img/reason-feed-hover.svg);
				}
				p {
					text-align: center;
					font-weight: 300;
					line-height: 26.25px;
					margin: 0;
				}
			}
		}
	}
}

.care {
	background-image: url(../img/cat-care-bg.png);
	background-position: bottom center;
	background-size: cover;
	&-advice {
		margin-top: 50px;
		padding-bottom: 100px;
		.list {
			margin: 0 auto;
			grid-auto-flow: row;
      grid-row-gap: 43px;
			li {
				grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 7.14285714285714%;
        border: 1px solid @color-gold;
        position: relative;
        h3 {
          grid-column: 1 ~"/" span 5;
          font-weight: 700;
          font-size: 22px;
          color: @color-gold;
          margin-bottom: 10px;
          margin-top: 40px;
          margin-left: 60px;
        }
        p {
          grid-column: 1 ~"/" span 5;
          font-weight: 300;
          font-size: 14px;
          line-height: 23px;
          margin-bottom: 43px;
          margin-left: 60px;
        }
        &::after {
          position: absolute;
          display: block;
          content: "";
          background: url(../img/care-icon-right.svg) center center no-repeat;
          grid-column: -2 ~"/" span 1;
          background-color: @color-gold;
          width: 100%;
          height: 100%;
        }
			}
		}
	}
}

.team {
  padding-bottom: 75px;
	.section-heading {
		max-width: 510px;
	}
	&-slider {
    position: relative;
    &::before, 
    &::after {
      position: absolute; 
      content: ""; 
      display: block;
      width: 12px;
      height: 29px;
      background: url(../img/team-slider-arrow-left.svg) center no-repeat;
      top: 50%;
      cursor: pointer;
    }
    &::before {
      left: -12px;
    }
    &::after {
      right: -12px;
      transform: rotate(180deg)
    }
		&-slide {
			grid-column: 2 ~"/" span 10;
			display: flex;
		}
	}
	&-photo {
		width: 40%;
		z-index: 100;
	}
	&-text {
		background-color: @color-bg-lightblack;
		border: 23px solid @color-bg-black;
		border-width: 23px 34px 23px 26px; 
		outline: 1px solid @color-gold;
		padding: 69px 103px 63px 98px;
		margin-left: -60px;
		margin-top: 1px;
		&-name {
			color: @color-gold;
			font-weight: 500;
			font-size: 24px;
			line-height: 28.13px;
			margin-bottom: 10px;
			margin-top: 0;
		}
		&-position {
			margin-top: 0;
			line-height: 21.75px;
			color: @color-gold;
			margin-bottom: 30px;
		}
		&-quote {
			font-weight: 300;
			line-height: 24.75px;
			opacity: 0.72;
			margin-top: 0;
			margin-bottom: 45px;
		}
	}
}

.faq {
	&-questions {
		.list {
			grid-column: 2 ~"/" 12;
			counter-reset: question;
			li {
				position: relative;
				margin-bottom: 40px;
				&::before {
					position: absolute;
					counter-increment: question;
					content: "0" counter(question);
					left: 35px;
					color: @color-gold;
					font-weight: 700;
					font-size: 70px;
					line-height: 104px;
				}
			}
			.question,
			.answer {
				padding: 45px;
        padding-right: 150px;
				color: #DDD0C3;
				border: 0.5px solid @color-gold;
				margin-left: 152px;
			}
			.question {
				font-weight: 500;
				margin-top: 0;
				margin-bottom: 0;
				position: relative;
				&::after {
					position: absolute;
					display: block;
					content: "+";
					height: 100%;
					top: 0;
					right: 0;
					width: 104px;
					text-align: center;
					border-left: 0.5px solid @color-gold;
					color: @color-gold;
					font-weight: 300;
					font-size: 36px;
					line-height: 110px;
					cursor: pointer;
				}
				&-active::after {
					background-color: @color-gold;
					content: "\2013";
					color: @color-white;
				}
			}
			.answer {
				font-weight: 300;
				line-height: 24.64px;
				border-top: none;
				p {
					margin: 0;
					margin-bottom: 30px;
					max-width: 550px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.reviews {
  .section-heading {
    margin-bottom: 60px;
  }
  &-slider {
    padding-bottom: 90px;
    &-slide {
      grid-column: 2 ~"/" 12;
      display: flex;
      align-items: center;
      .review {
        &-photo {
          width: 50%;
          z-index: 100;
        }
        &-text {
          background-color: @color-bg-black;
          padding: 109px 87px 107px 145px;
          width: 640px;
          margin-left: -100px;
          &-author {
            font-weight: 500;
            font-size: 24px;
            line-height: 28.13px;
            margin-bottom: 20px;
          }
          &-content {
            opacity: .72;
            font-weight: 300;
            font-size: 14px;
            line-height: 22.97px;
            margin-bottom: 35px;
          }
          &-other {
            display: flex;
            align-items: center;
            height: 28px;
            .date {
              color: @color-gold;
              font-size: 12px;
              line-height: 18.56px;
              margin: 0;
              margin-right: 35px;
            }
            .social-links {
              width: inherit;
              height: 26px;
              a {
                border: 0.5px solid rgba(160,123,80,0.27);
                margin-right: 17px;
                width: 26px;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  .flex {
    grid-column: 2 ~"/" span 10;
    display: flex;
    height: 156px;
    align-items: center;
    justify-content: space-around;
    .crown {
      margin: 0;
    }
    .address {
      font-size: 14px;
    }
    .phone {
      font-size: 14px;
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 1220px) {
  .header {
    .social-links {
      left: 0;
    }
  }
  .team-slider::before {
    left: 0;
  }
  .team-slider::after {
    right: 0;
  }
}

@media screen and (max-width: 1159px) {
  .container {
    max-width: 768px;
  }
  .header {
    background-size: 85%;
    background-position: 160% bottom;
    .about {
      grid-column: 2 ~"/" span 6;
      margin-top: 90px;
      &-moto {
        max-width: 270px;
      }
    }
    .social-links {
      flex-direction: row;
      grid-column: 2 ~"/" span 3;
      a:first-child::before {
        display: none;
      }
    }
  }
  .pets {
    padding-top: 150px;
    &-photo {
      &.container {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-gap: 0;
        position: relative;
        &::before, 
        &::after {
          position: absolute;
          display: block;
          content: "";
          width: 12px;
          height: 29px;
          background: url(../img/pets-slider-arrow-left.svg) center no-repeat;
          top: ~"calc(50% - 14px)";
        }
        &::before {
          left: 0;
        }
        &::after {
          right: 0;
          transform: rotate(180deg);
        }
        .top-left {
          order: 1;
          width: 65px;
          height: 197px;
          img {
            width: initial;
          }
        }
        .bottom-left {
          order: 3;
          width: 65px;
          height: 197px;
          img {
            width: initial;
          }
        }
        .right {
          order: 2;
          width: 474px;
        }
      }
    }
  }
  .features {
    &-list {
      background-size: 415px;
      min-height: 520px;
      li { 
        max-width: 140px;
        &.top.left {
          top: 140px;
          left: 45px;
        }
        &.bottom.left {
          bottom: 135px;
          left: 30px;
        }
        &.top.right {
          top: 210px;
          right: 35px;
        }
        &.bottom.right {
          bottom: 130px;
          right: 60px;
        }
      }
    }
  }
  .why-we {
    &-reasons {
      .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          margin-bottom: 42px;
          width: 360px;
          height: 306px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .care {
    &-advice {
      .list {
        li {
          grid-column: 3 ~"/" span 8;
        }
      }
    }
  }
  .team {
    &-slider {
      &::before, 
      &::after {
        display: none;
      }
      &-slide {
        flex-direction: column-reverse;
      }
    }
    &-photo {
      margin-top: -100px;
      margin-left: 360px;
      position: relative;
      &::before, 
      &::after {
        position: absolute;
        display: block;
        content: "";
        width: 12px;
        height: 29px;
        background: url(../img/team-slider-arrow-left.svg) center no-repeat;
        bottom: 5px;
      }
      &::before {
        left: calc(-12px - 29px);
      }
      &::after {
        right: calc(12px);
        transform: rotate(180deg);
      }
      img {
        width: 207px;
        height: 207px;
      }
    }
  }
  .faq {
    &-questions {
      .list {
        grid-column: 1 ~"/" span 12;
        li {
          &::before {
            font-size: 50px;
            line-height: inherit;
            left: 9%;
            top: 2%;
          }
        }
        .question {
          padding: 20px 25px;
          &::after {
            width: 72px;
            line-height: 1.5;
          }
        }
        .answer {
          padding: 20px 25px;
          padding-right: 150px;
        }
      }
    }
  }
  .reviews {
    &-slider {
      &-slide {
        flex-direction: column;
        align-items: center;
        .review {
          &-photo {
            position: relative;
            &::before, 
            &::after {
              position: absolute;
              display: block;
              content: "";
              width: 59px;
              height: 16px;
              background: url(../img/reviews-arrow-tablet-left.svg) center no-repeat;
              bottom: 20%;
            }
            &::before {
              left: -90px;
            }
            &::after {
              right: -70px;
              transform: rotate(180deg);
            }
            img {
              width: 302px;
              height: 208px;
            }
          }
          &-text {
            text-align: center;
            padding: 148px 120px 33px;
            width: 100%;
            margin-left: 0;
            margin-top: -110px;
            &-other {
              justify-content: center;
            }
          }
        }
      }
    }
  }
  .footer {
    .crown {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin: 0 15px;
  }
  .header {
    background-image: none;
    .about {
      h1 {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
      text-align: center;
      grid-column: 1 ~"/" span 12;
      &-moto {
        margin: auto;
        margin-bottom: 50px;
      }
    }
    .social-links {
      grid-column: 6 ~"/" 8;
      width: 100%;
    }
  }
  .pets {
    &-photo {
      .top-left, 
      .bottom-left {
        display: none;
      }
    }
  }
}