<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/styles.css">
	<title>Document</title>
</head>
<body>
	<header class="header">
		<nav class="menu menu-top container">
			<ul class="menu-items">
				<li><a href="#">Место</a></li>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Оставить заявку</a></li>
			</ul>
			<div class="menu-logo">
				<a href="#">
					<img src="img/logo.png" alt="" width="97" height="30">
				</a>
			</div>
			<form action="#" class="menu-search">
				<input type="text" class="menu-search-line">
			</form>
			<div class="menu-cabinet">
				<span><a href="#">Вход</a></span> или <span><a href="#">регистрация</a></span>
			</div>
		</nav>
		<div class="cover container">
			<div class="offer">
				<div class="city">
					Санкт-Петербург
				</div>
				<h1>
					Загородные дома в аренду
				</h1>
				<p class="proposal">
					Отдохните от суеты мегаполиса в уютном тёплом доме в окружении экологически чистых лесов, рек и озёр
				</p>
				<button class="button rent">
					Арендовать дом
				</button>				
			</div>
			<div class="social-icons">
				<div class="icon facebook"></div>
				<div class="icon instagram"></div>
				<div class="icon vk"></div>
			</div>
			<div class="slider">
				<div class="picture"></div>
				<div class="arrows">
					<div class="left"></div>
					<div class="right on"></div>
				</div>
				<div class="number">
					1/8
				</div>
			</div>
		</div>
	</header>

	<main class="main">
		<div class="container">
			<div class="heading-top">
				<p class="up">
					<span>01</span> Место
				</p>
				<h2>
					Парк отдыха на берегу Ладожского озера
				</h2>
			</div>
		</div>
		<div class="container">
			<div class="text">
				Отдохните в уютных деревянных домах с камином, сауной и джакузи, расположенных на берегу озера. Для любителей полного уединения есть домики и в глубине парка, в окружении вековых деревьев.
			</div>
			<div class="with-side-text">
				<div class="container">
					<div class="core-element">
						<img src="img/text-house.png" alt="" width="444" height="280">
					</div>
					<p class="side-text right">
						За счёт особой конструкции в наших домах очень тепло зимой и прохладно летом. Мы открыты для вас в любое время года!
					</p>
				</div>
			</div>
			<div class="text">
				На территории парка есть баскетбольная площадка, собственный пляж с сеткой для волейбола, прокат горных велосипедов и лодок. А зимой у нас можно взять в прокат лыжи или снегоходы и кататься по специально оборудованным трассам. Для каждого посетителя составляем индивидуальную программу развлечений и помогаем её осуществить.
			</div>
			<div class="image-full" >
				<img src="img/text-volleyball.png" alt="" height="280">
			</div>
			<div class="text">
				Около каждого коттеджа есть детская площадка
			с качелями и горками, а на территории парка работает детская комната. Вы сможете позволить себе любой отдых зная, что ваш ребёнок находится под присмотром опытных специалистов.
			</div>
			<div class="quote">
				Мы предлагаем не только уютные дома, большой выбор развлечений и активностей для вас и вашей семьи, но и масштабные праздники, спортивные турниры и возможность встретить новых друзей.
			</div>
			<div class="text">
				Несмотря на отдалённость от населённых пунктов, вы не будете чувствовать себя оторванными
			от цивилизации. Все наши дома оборудованы высокоскоростными точками доступа Wi-Fi
			и домашними кинотеатрами с подпиской Netflix.
			</div>
			<div class="with-side-text">
				<div class="container">
					<p class="side-text left">
						Вы можете подписаться
						на рассылку и узнавать
						обо всех акциях, скидках,
						и выгодных предложениях.
					</p>
					<div class="core-element text">
						Приезжайте к нам на месяц, всё лето или зиму —
						на длительную аренду действуют хорошие скидки! Забронируйте дом прямо сейчас, для этого достаточно заказать звонок, а отменить бронь вы сможете в любое время совершенно бесплатно.
					</div>
				</div>
			</div>			
			<button class="button book">
				Бесплатно забронировать
			</button>
		</div>
	</main>

	<section class="houses">
		<div class="container">		
			<div class="heading-top">
				<p class="up">
					<span>02</span> Каталог
				</p>
				<h2>
					Дома для аренды
				</h2>
			</div>	
		</div>
		<div class="container">
			<div class="house">
				<div class="house-picture"><img src="img/современная классика.png" alt="Современная классика" width="" height=""></div>
				<div class="house-desc">
					<div class="house-title">Современная классика</div>
					<div class="house-area">Площадь - 186 м<sup>2</sup></div>
					<div class="house-rooms">
					<ul>
						<li>
							<div class="house-rooms-number">5</div>
							комнат
						</li>
						<li>
							<div class="house-rooms-number">3</div>
							спальни
						</li>
						<li>
							<div class="house-rooms-number">2</div>
							этажа
						</li>
					</ul>
				</div>
				</div>
				
			</div>
			<div class="house">
				<div class="house-picture"><img src="img/дом на берегу озера.png" alt="Дом на берегзу озера" width="" height=""></div>
				<div class="house-desc">
					<div class="house-title">Дом на берегу озера</div>
					<div class="house-area">Площадь - 242 м<sup>2</sup></div>
					<div class="house-rooms">
					<ul>
						<li>
							<div class="house-rooms-number">7</div>
							комнат
						</li>
						<li>
							<div class="house-rooms-number">4</div>
							спальни
						</li>
						<li>
							<div class="house-rooms-number">2</div>
							этажа
						</li>
					</ul>
				</div>
				</div>
				
			</div>
			<div class="house">
				<div class="house-picture"><img src="img/особняк в лесу.png" alt="особняк в лесу" width="" height=""></div>
				<div class="house-desc">
					<div class="house-title">Особняк в лесу</div>
					<div class="house-area">Площадь - 406 м<sup>2</sup></div>
					<div class="house-rooms">
						<ul>
							<li>
								<div class="house-rooms-number">12</div>
								комнат
							</li>
							<li>
								<div class="house-rooms-number">8</div>
								спален
							</li>
							<li>
								<div class="house-rooms-number">2</div>
								этажа
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="house">
				<div class="house-picture"><img src="img/домик на дереве.png" alt="домик на дереве" width="" height=""></div>
				<div class="house-desc">
					<div class="house-title">Домик на дереве</div>
					<div class="house-area">Площадь - 75 м<sup>2</sup></div>
					<div class="house-rooms">
						<ul>
							<li>
								<div class="house-rooms-number">3</div>
								комнаты
							</li>
							<li>
								<div class="house-rooms-number">2</div>
								спальни
							</li>
							<li>
								<div class="house-rooms-number">1</div>
								этаж
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="house house-long">
				<div class="house-picture"><img src="img/десной дом у пруда.png" alt="лесной дом у пруда" width="" height=""></div>
				<div class="house-desc house-long-desc">
					<div class="house-title">Лесной дом у пруда</div>
					<div class="house-area">Площадь - 81 м<sup>2</sup></div>
					<div class="house-rooms">
						<ul>
							<li>
								<div class="house-rooms-number">3</div>
								комнаты
							</li>
							<li>
								<div class="house-rooms-number">2</div>
								спальни
							</li>
							<li>
								<div class="house-rooms-number">1</div>
								этаж
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="feedback">
		<div class="container">
			<div class="feedback-info">
				<div class="heading-top">
					<p class="up">
						<span>03</span> Оставить заявку
					</p>
					<h2>
						Мы свяжемся с вами
					</h2>
				</div>
				<form action="#" class="form feedback-form">
					<div class="appeal">
						<label for="appeal">Обращение</label>
						<select name="" id="appeal">
							<option value="Мистер">Мистер</option>
							<option value="Мисс">Миссис</option>
						</select>
					</div>
					<div class="name">
						<label for="name">Имя</label>
						<input type="text" placeholder="Джон" id="name">
					</div>
					<div class="surname">
						<label for="surname">Фамилия</label>
						<input type="text" placeholder="Смит" id="surname">
					</div>
					<div class="mail">
						<label for="mail">E-mail</label>
						<input type="mail" placeholder="johnsmith@gmail.com" id="mail">
					</div>
					<div class="phone">
						<label for="phone">Телефон</label>
						<input type="phone" name="phone" id="phone">
					</div>
					<div class="personal-data checkbox">
						<input type="checkbox" name="personal-data" id="personal-data">
						<label for="personal-data">Cогласие на обработку персональных данных</label>
					</div>
					<div class="subscribe checkbox">
						<input type="checkbox" checked name="subscribe" id="subscribe">
						<label for="subscribe">Подписка на рассылку</label>
					</div>
					<button class="button submit" type="submit">Отправить</button>
				</form>
			</div>	
			<div class="feedback-image">
				<img src="img/feedback-image.png" alt="лодка на озере на фоне леса" width="" height="">
			</div>
		</div>
		<div class="container">
			
		</div>
	</section>

	<footer class="footer menu menu-bottom">
		<div class="container">
			<div class="menu-logo">
				<a href="#">
					<img src="img/logo-footer.png" alt="логотип в футере" width="97" height="30">
				</a>
			</div>
			<ul class="menu-items">
				<li><a href="#">Место</a></li>
				<li><a href="#">Каталог</a></li>
				<li><a href="#">Оставить заявку</a></li>
			</ul>
			<div class="menu-made-in">
				<span>© Сделано в </span><a href="#">Студии "Веб"</a>
			</div>
		</div>
	</footer>
</body>
</html>