<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Up Button</title>
</head>
<body>

  <main>
    <div class="container">
      <section class="longread">
        <div class="paragraph">
          <h2>Жилье</h2>
          <p>В Финляндии несложно найти простейший хостел или городскую гостиницу. Кроме того, в стране, где масса мишленовских ресторанов, есть и отели высшей категории. Посмотреть и забронировать номер можно на сайтах Booking или Roomguru.</p>
          <p>На зимних каникулах туристы оккупируют гостиницы и домики на туристических базах в районе Рованиеми. В этих краях можно заехать в хостел от 50 евро, обогреваемый домик со всеми удобствами около 60 евро за ночь.</p>
          <p>Если хочется чего-то необычного, Финляндия найдет, чем вас удивить. Когда-нибудь ночевали в ледяном отеле? Или стеклянном домике на скале? В Финляндии также не запрещено ночевать в палатках или спальных мешках. Вы найдете немало специально отведенных для этого мест. Свежий воздух и безопасность.</p>
        </div>
      
        <div class="paragraph">
          <h2>Что еще посмотреть в Финляндии</h2>
          <p>Если вам кажется, что в Хельсинки вы уже видели практически все, советую выехать за пределы города…на остров. Я упоминала про крепость Свеаборг. Ее еще называют «шведской». Вот, какую информацию об этом месте я узнала из Интернета. Крепость была занесена в список ЮНЕСКО и размещается она на нескольких островках. Кстати, прямо на острове Мустасаари есть небольшой хостел.</p>
          <p>Музеи Суоми. Недалеко от Хельсинки есть научный центр-музей «Эврика» (функционирует с 1989 года). В музее почти 100 экспонатов, которые наглядно показывают, как были сделаны те или иные научные открытия. Понравится и детям и взрослым.</p>
          <p>В Тампере есть текстильный музей и музей, посвященный шпионажу.</p>
        </div>
      
        <div class="paragraph">
          <h2>Погода</h2>
          <p>Погодные условия почти как в России. Разве что лето жарче. Максимальная минусовая температура в зимний период -10. Русскому человеку будет привычно. Здесь довольно снежные зимы. Именно поэтому я стараюсь планировать поездку зимой или поздней осенью, чтобы прокатиться на сноуборде по невысоким склонам.</p>
          <p>Летом здесь особенное время – белые ночи. Туристы долго гуляют, идут в походы, катаются на пароме, рыбачат.</p>
        </div>
      </section>
    </div>
    <section class="read-more">
      <div class="container">
        <h2>Что еще почитать</h2>
        <article class="report">
          <img src="img/photo_1.jpg" alt="man and lake">
          <div class="report-about">
            <p class="report-tag">Путешественники</p>
            <date class="report-date" datetime="2020-09-29">29.09.2020</date>
            <h3 class="report-heading">Самостоятельное путешествие по Исландии</h3>
          </div>
        </article>
        <article class="report">
          <img src="img/photo_2.jpg" alt="retro car">
          <div class="report-about">
            <p class="report-tag">Лайфхаки</p>
            <date class="report-date" datetime="2020-09-21">21.09.2020</date>
            <h3 class="report-heading">Как недорого взять в аренду автомобиль на Кубе</h3>
          </div>
        </article>
        <div class="news">
          <div class="report-about">
            <p class="report-tag">новости</p>
            <date class="report-date" datetime="2020-09-14">14.09.2020</date>
            <h3 class="report-heading">Страны, открытые для туристов из России в 2020 году</h3>
          </div>
          <div class="report-about">
            <p class="report-tag">Страны, россия</p>
            <date class="report-date" datetime="2020-09-07">07.09.2020</date>
            <h3 class="report-heading">Шерегеш – крупнейший горнолыжный курорт Сибири</h3>
          </div>
          <div class="report-about">
            <p class="report-tag">страны, япония</p>
            <date class="report-date" datetime="2020-09-01">01.09.2020</date>
            <h3 class="report-heading">Достопримечательности Токио, которые стоит посетить</h3>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="container">
      <a href="/" class="footer-logo">
        <img src="img/logotype.svg" alt="Travel Guide logo" width="149" height="19">
      </a>
      <ul class="footer-nav">
        <li><a href="#">О блоге</a></li>
        <li><a href="#">Страны</a></li>
        <li><a href="#">Рейтинги</a></li>
        <li><a href="#">Путешественники</a></li>
        <li><a href="#">Лайфхаки</a></li>
        <li><a href="#">Новости</a></li>
      </ul>
      <div class="social">
        <ul class="social-links">
          <li><a href="#" class="icon-facebook"></a></li>
          <li><a href="#" class="icon-instagram"></a></li>
          <li><a href="#" class="icon-twitter"></a></li>
        </ul>
      </div>
    </div>
  </footer>

  <div class="up-button hide"></div>

  <script>
    document.onclick = function() {
      document.querySelector('.up-button').classList.toggle('hide');
    };
  </script>

</body>
</html>