* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: #DE012C;
}
body {
  font-family: 'M PLUS 1p', Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  color: #001524;
  background: #F7F7F7;
}
button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(12, 70px);
  grid-gap: 30px;
}
.button {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border-radius: 4px;
  padding: 5px 48px;
  border: 2px solid #DE012C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button__buy--add-to-cart {
  background: #DE012C;
  border-color: #DE012C;
  color: white;
}
.button:hover {
  border-color: #DE012C;
  color: #DE012C;
  background-color: white;
}
.button:focus {
  outline: 2px solid #001524;
}
.icon {
  background-color: inherit;
  border: none;
  width: 19px;
  height: 19px;
}
.icon:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.icon:focus {
  outline: 2px solid #001524;
}
