<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Sidebar</title>
</head>
<body>

  <div class="container-general">
    <header class="page-header">
      <div class="container">
        <a href="/" class="page-header-logo">
          <img src="img/logotype.svg" alt="UNIT online market logo" width="95" height="42">
        </a>
        <form action="#" class="page-header-search">
          <input type="search" placeholder="Поиск по сайту">
          <button type="submit" class="button">Найти</button>
        </form>
        <nav class="page-header-user-nav">
          <ul class="page-header-user-nav-list">
            <li>
              <a class="page-header-user-nav-item" href="#">
                <img src="img/user icon.svg" width="24" height="24" alt="user icon">
                <span>Вход</span>
              </a>
            </li>
            <li>
              <a class="page-header-user-nav-item" href="#">
                <img src="img/heart icon.svg" width="24" height="24" alt="user icon">
                <span>Избранное</span>
              </a>
            </li>
            <li>
              <a class="page-header-user-nav-item" href="#">
                <img src="img/cart icon.svg" width="24" height="24" alt="user icon">
                <span>Корзина</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <section class="left-block">
          <nav class="left-block-menu">
            <ul class="left-block-list">
              <li class="active"><a href="#">Электроника
                <ul>
                  <li><a href="#">Смартфоны</a></li>
                  <li><a href="#">Планшеты</a></li>
                  <li><a href="#">Наушники</a></li>
                  <li><a href="#">Смарт-часы</a></li>
                  <div class="left-block-show-more"><a href="#">Показать все</a></div>
                </ul>
              </a></li>
              <li><a href="#">Бытовая техника</a></li>
              <li><a href="#">Компьютеры</a></li>
              <li><a href="#">Детям</a></li>
              <li><a href="#">Дом</a></li>
              <li><a href="#">Авто</a></li>
              <li><a href="#">Красота и здоровье</a></li>
            </ul>
            <ul class="left-block-list">
              <li><a href="#">Оплата и доставка</a></li>
              <li><a href="#">Справка</a></li>
            </ul>
          </nav>
          <aside class="left-block-banner">
            <img src="img/banner.jpg" alt="promo banner">
          </aside>
        </section>
        <section class="catalog">
          <article class="catalog-category">
            <img src="img/photo.jpg" alt="phone">
            <h2>Смартфоны</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo.png" alt="phone">
            <h2>Планшеты</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (1).png" alt="phone">
            <h2>Наушники</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (2).png" alt="phone">
            <h2>4k телевизоры</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (3).png" alt="phone">
            <h2>Смарт-часы</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (4).png" alt="phone">
            <h2>Умные колонки</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo.jpg" alt="phone">
            <h2>Смартфоны</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo.png" alt="phone">
            <h2>Планшеты</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (1).png" alt="phone">
            <h2>Наушники</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (2).png" alt="phone">
            <h2>4k телевизоры</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (3).png" alt="phone">
            <h2>Смарт-часы</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (4).png" alt="phone">
            <h2>Умные колонки</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo.jpg" alt="phone">
            <h2>Смартфоны</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo.png" alt="phone">
            <h2>Планшеты</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (1).png" alt="phone">
            <h2>Наушники</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (2).png" alt="phone">
            <h2>4k телевизоры</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (3).png" alt="phone">
            <h2>Смарт-часы</h2>
          </article>
          <article class="catalog-category">
            <img src="img/photo (4).png" alt="phone">
            <h2>Умные колонки</h2>
          </article>
        </section>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <a href="/" class="page-footer-logo">
          <img src="img/logotype.svg" alt="UNIT online market logo" width="95" height="42">
        </a>
        <p class="page-footer-copyright">
          <span>All rights reserved.</span>
        </p>
      </div>
    </footer>
  </div>


  
</body>
</html>